---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <h1>About me</h1>
    <h2>... and about my astro site!</h2>
    <p>I am learning about Astro using the tutorial</p>
    <p>I will be making updates to this as I go along the course</p>
  </body>
</html>
