---
const tagline = "A proactive developer";
const introduction =
  "A self-taught developer who likes to get into the nitty-gritty of things.";
---

<section id="hero" class="hero-section">
  <div class="container">
    <h1>{tagline}</h1>
    <p>{introduction}</p>
  </div>
</section>

<style>
  .hero-section {
    padding: 100px 0;
    text-align: center;
    background-color: #f4f4f4;
  }
  .hero-section .container {
    max-width: 800px;
    margin: 0 auto;
  }
  .hero-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  .hero-section p {
    font-size: 1.2em;
  }
</style>
